name: TRDB CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: autoreconf
      run: autoreconf -vif
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: ./tests
